<div class="container">
  <div class="row">
    <div class="col-md-12" [ngClass]="routeAnimationsElements">
      <h1 class="main-heading">DA Performance Comparative Report 2014-2018</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <mat-accordion #myaccordion="matAccordion" multi="true">

            <mat-expansion-panel [ngClass]="routeAnimationsElements">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  DA Caraga
                </mat-panel-title>
                <mat-panel-description>
                  Financial & Physical Performance 2014-2018
                </mat-panel-description>
              </mat-expansion-panel-header>
          
                  <div class="col"> 
                    <mat-card>
                        <div id="da_fin" style="height: 370px; width: 100%;"></div>
                    </mat-card>
                    </div>
                    <div class="col"> 
                        <mat-card>
                            <div id="da_fin_per" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                    </div>
            
              
                  <div class="col-md-12">
                      <mat-card>
                          <div id="da_phys" style="height: 370px; width: 100%;"></div>
                      </mat-card>   
                </div>     
            </mat-expansion-panel>

            <mat-expansion-panel [ngClass]="routeAnimationsElements">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    GENERAL SUPPORT SERVICES
                  </mat-panel-title>
                  <mat-panel-description>
                    Financial & Physical Performance 2014-2018
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row align-items-end">
                    <div class="col"> 
                      <mat-card>
                          <div id="gss_fin" style="height: 370px; width: 100%;"></div>
                      </mat-card>
                      </div>
                      <div class="col"> 
                          <mat-card>
                              <div id="gss_fin_per" style="height: 370px; width: 100%;"></div>
                          </mat-card>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-card>
                            <div id="gss_phys" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                    </div>

                </div>
              </mat-expansion-panel>

              <mat-expansion-panel [ngClass]="routeAnimationsElements">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    RICE PROGRAM
                  </mat-panel-title>
                  <mat-panel-description>
                    Financial & Physical Performance 2014-2018
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row align-items-end">
                    <div class="col"> 
                      <mat-card>
                          <div id="rice_fin" style="height: 370px; width: 100%;"></div>
                      </mat-card>
                      </div>
                      <div class="col"> 
                          <mat-card>
                              <div id="rice_fin_per" style="height: 370px; width: 100%;"></div>
                          </mat-card>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-card>
                            <div id="rice_phys" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                    </div>

                </div>
              </mat-expansion-panel>

              <mat-expansion-panel [ngClass]="routeAnimationsElements">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    CORN PROGRAM
                  </mat-panel-title>
                  <mat-panel-description>
                    Financial & Physical Performance 2014-2018
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row align-items-end">
                    <div class="col"> 
                      <mat-card>
                          <div id="corn_fin" style="height: 370px; width: 100%;"></div>
                      </mat-card>
                      </div>
                      <div class="col"> 
                          <mat-card>
                              <div id="corn_fin_per" style="height: 370px; width: 100%;"></div>
                          </mat-card>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-card>
                            <div id="corn_phys" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                    </div>

                </div>
              </mat-expansion-panel>

              <mat-expansion-panel [ngClass]="routeAnimationsElements">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HVCD PROGRAM
                  </mat-panel-title>
                  <mat-panel-description>
                    Financial & Physical Performance 2014-2018
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row align-items-end">
                    <div class="col"> 
                      <mat-card>
                          <div id="hvcdp_fin" style="height: 370px; width: 100%;"></div>
                      </mat-card>
                      </div>
                      <div class="col"> 
                          <mat-card>
                              <div id="hvcdp_fin_per" style="height: 370px; width: 100%;"></div>
                          </mat-card>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-card>
                            <div id="hvcdp_phys" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                    </div>

                </div>
              </mat-expansion-panel>

                <mat-expansion-panel [ngClass]="routeAnimationsElements">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      LIVESTOCK PROGRAM
                    </mat-panel-title>
                    <mat-panel-description>
                      Financial & Physical Performance 2014-2018
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row align-items-end">
                      <div class="col"> 
                        <mat-card>
                            <div id="livestock_fin" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                        </div>
                        <div class="col"> 
                            <mat-card>
                                <div id="livestock_fin_per" style="height: 370px; width: 100%;"></div>
                            </mat-card>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <mat-card>
                              <div id="livestock_phys" style="height: 370px; width: 100%;"></div>
                          </mat-card>
                      </div>

                  </div>
                </mat-expansion-panel>
             

              

                <mat-expansion-panel [ngClass]="routeAnimationsElements">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      ORGANIC PROGRAM
                    </mat-panel-title>
                    <mat-panel-description>
                      Financial & Physical Performance 2014-2018
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row align-items-end">
                      <div class="col"> 
                        <mat-card>
                            <div id="oa_fin" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                        </div>
                        <div class="col"> 
                            <mat-card>
                                <div id="oa_fin_per" style="height: 370px; width: 100%;"></div>
                            </mat-card>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <mat-card>
                              <div id="oa_phys" style="height: 370px; width: 100%;"></div>
                          </mat-card>
                      </div>

                  </div>
                </mat-expansion-panel>
          

              <mat-expansion-panel [ngClass]="routeAnimationsElements">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    REGULAR PROGRAM
                  </mat-panel-title>
                  <mat-panel-description>
                    Financial & Physical Performance 2014-2018
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row align-items-end">
                    <div class="col"> 
                      <mat-card>
                          <div id="regular_fin" style="height: 370px; width: 100%;"></div>
                      </mat-card>
                      </div>
                      <div class="col"> 
                          <mat-card>
                              <div id="regular_fin_per" style="height: 370px; width: 100%;"></div>
                          </mat-card>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-card>
                            <div id="regular_phys" style="height: 370px; width: 100%;"></div>
                        </mat-card>
                    </div>

                </div>
              </mat-expansion-panel>

          </mat-accordion> 
    </div>
    </div>
</div>
