<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Performance Management Information System</h1>
      <div class="actions">
          <a [ngClass]="routeAnimationsElements"
             mat-raised-button class="actions-main" color="primary" routerLink="../features">
            DA Performance
          </a>
          <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
             [ngClass]="routeAnimationsElements">
            BEDs
          </a>
          <a mat-raised-button class="actions-main" color="warn" routerLink="../dashboard"
          [ngClass]="routeAnimationsElements">
            PMIS DASHBOARD
       </a>
        </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>About PMIS</h2>
          <p>PMIS is a sytematic approach for gathering data or information regarding the 
            Budget Execution Demands (BEDs) which contain the agency plans, spending schedules
            and physical targets for evaluation and consolidation. It is a tool in keeping up-dated 
            records on the present accomplishment status of financial, physical and disbursement of the 
            department/agency/OUs. This data/records is then processed, integrated, and stored in 
            the centralized database and made available to all who have authority to access it,
            in a form that suits the department's purpose. This will be the basis for measuring the 
            agency's performance.


          </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="follow-releases" [ngClass]="routeAnimationsElements">
      <h2>System Updates</h2>
     <h4>Version 4.0</h4>
        <ul>
          <li>The BED-3 Component was added for disbursement plan and accomplishment monitoring 
          </li>
          <li>User's Audit Logs was incorporated in all BEDs to monitor the last activity of the 
            responsible user.
          </li>
          <li>
            Object-Code Summary Table was added in the BED-1 Component for easy verification and counter 
            checking in the Budget records.
          </li>
          <li>
            The Budget User Account can now enable to add object code to the specific activity when 
            there's a re-alignment happening.
          </li>
          <li>
            The sub-header of the activity was included in the table display for sub-grouping aggregation    
          </li>
  
        </ul>
      
  </div>

