<nav mat-tab-nav-bar class="d-none d-sm-flex">
  <a mat-tab-link
     *ngFor="let e of examples"
     [routerLink]="e.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     [disabled]="e.user && !(isAuthenticated$ | async)">
    {{e.label}}
  </a>
</nav>

<nav class="nav-responsive d-sm-none d-flex justify-content-center">
    <mat-select [placeholder]="'anms.examples.title' " [value]="'todos'">
      <mat-option *ngFor="let e of examples"
        [value]="e"
        [routerLink]="e.link"
        [disabled]="e.user && !(isAuthenticated$ | async)">
          {{e.label }}
      </mat-option>
    </mat-select>
</nav>



<div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <ng-marquee>
      <mark><h4>ANNOUNCEMENT: The month of January to June Physical Accomplishment was already closed. 
          You can now update the physical accomplishment of the month of July until <span class="mark"> August 1, 2019.</span>
        If you have any querries please contact  <span class="mark">Sir Elven B. Gabutan</span> from Planning, Monitoring and Evaluation Division.</h4> </mark>

     
</ng-marquee>
  <router-outlet #o="outlet"></router-outlet>
</div>
