<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading" *ngIf="user">Welcome {{ user.username }} </h1>
      <h2></h2>
      <p [ngClass]="routeAnimationsElements">
        This component is only accessible for authenticated users
      </p>
      <p [ngClass]="routeAnimationsElements">
        Logging out will cause user to be redirected to home screen if visiting route accessible only to authenticated users
      </p>   
    </div>

   
  </div>
  <div  *ngIf="open">
      <div class="row" [ngClass]="routeAnimationsElements">
          <div class="col-12">
              <button mat-raised-button (click)="setPID(1,'Rice')">RICE</button>
              <button mat-raised-button (click)="setPID(2,'Corn')">CORN</button>
              <button mat-raised-button (click)="setPID(3,'HVCDP')">HVCDP</button>
              <button mat-raised-button (click)="setPID(4,'Livestock')">LIVESTOCK</button>
              <button mat-raised-button (click)="setPID(5,'Organic Agriculture')">OA</button>
              <button mat-raised-button (click)="setPID(20,'GASS')">GASS</button>
              <button mat-raised-button (click)="setPID(17,'PMED')">PMED</button>
              <button mat-raised-button (click)="setPID(18,'RAED')">RAED</button>
              <button mat-raised-button (click)="setPID(19,'ILD')">ILD</button>
              <button mat-raised-button (click)="setPID(14,'AMAD')">AMAD</button>
              <button mat-raised-button (click)="setPID(16,'Regulatory')">REGULATORY</button>
              <button mat-raised-button (click)="setPID(15,'Research')">RESEARCH</button>
              <button mat-raised-button (click)="setPID(11,'STN_Trento')">STN_TRENTO</button>
              <button mat-raised-button (click)="setPID(12,'STN_Del Monte')">STN_DELMONTE</button>
              <button mat-raised-button (click)="setPID(13,'STN_Tagbina')">STN_TAGBINA</button>
              <button mat-raised-button (click)="setPID(21,'GAD')">GAD</button>
          </div>
        
      </div>
      <div class="row" [ngClass]="routeAnimationsElements">
        <div class="col-12">
          <anms-bed1 [pid]="pid" [name]="name"></anms-bed1> 
          <summary-object [pid]="pid"></summary-object>
          </div>
      </div>
  <div class="row" [ngClass]="routeAnimationsElements">
          <div class="col-12">
            <anms-bed2 [pid]="pid" [name]="name"></anms-bed2> 
            </div>
        </div>
      <div class="row" [ngClass]="routeAnimationsElements">
            <div class="col-12">
              <anms-bed3 [pid]="pid" [name]="name"></anms-bed3> 
              </div>
          </div> 
         <div class="row" [ngClass]="routeAnimationsElements">
              <div class="col-12">
                <anms-district [pid]="pid" [name]="name"></anms-district> 
                </div>
            </div> 
  </div>

</div>
